<ion-header [translucent]="true">
  <ion-toolbar color="pretoazulado">
      <ion-button slot="end" shape="round">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-title>Cardápio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-searchbar placeholder="Buscar" color="pretoazulado"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-label>Coquinha</ion-label>
          </ion-card-header>
            <img src="https://www.mundodomarketing.com.br/assets/img/lancamentos/imagem/ca0d3e28059ed0c99bfe908e87ea0e1c.jpg">
          <ion-item color="pretoazulado">
            <ion-button slot="end">
              <ion-icon name="cart"></ion-icon>
            </ion-button>
            <ion-label>R$5,00</ion-label>
          </ion-item>
        </ion-card>
      </ion-col> <!-- FINAL DA COQUINHA DE MURANGO -->
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-label>Whisky</ion-label>
          </ion-card-header>
            <img src="https://carrefourbr.vtexassets.com/arquivos/ids/36955052-800-auto?v=637812556786070000&width=800&height=auto&aspect=true">
          <ion-item  color="pretoazulado">
            <ion-button slot="end">
              <ion-icon name="cart"></ion-icon>
            </ion-button>
            <ion-label>R$175,00</ion-label>
          </ion-item>
        </ion-card>
      </ion-col> <!-- FINAL DO WHISKY -->
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-label>Fanta Laranja</ion-label>
          </ion-card-header>
            <img src="https://www.drogariaminasbrasil.com.br/media/product/dc1/refrigerante-fanta-laranja-lata-350ml-6eb.jpg">
          <ion-item  color="pretoazulado">
            <ion-button slot="end">
              <ion-icon name="cart"></ion-icon>
            </ion-button>
            <ion-label>R$5,99</ion-label>
          </ion-item>
        </ion-card>
      </ion-col> <!-- FINAL DO FANTA -->
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-label>Guaraná Antartica</ion-label>
          </ion-card-header>
            <img src="https://cdn.awsli.com.br/1000x1000/1472/1472647/produto/57180165/2ac86323d0.jpg" >
          <ion-item  color="pretoazulado">
            <ion-button slot="end">
              <ion-icon name="cart"></ion-icon>
            </ion-button>
            <ion-label>R$5,00</ion-label>
          </ion-item>
        </ion-card>
      </ion-col> <!-- FINAL DO CHUG JUG -->
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-label>Cerveja Artesanal</ion-label>
          </ion-card-header>
            <img src="https://images.tcdn.com.br/img/img_prod/1052911/cerveja_schornstein_ipa_garrafa_500ml_1285_1_4c00dd64a3842fd305745a1cb7672ae6.png">
          <ion-item  color="pretoazulado">
            <ion-button slot="end">
              <ion-icon name="cart"></ion-icon>
            </ion-button>
            <ion-label>R$25,00</ion-label>
          </ion-item>
        </ion-card>
      </ion-col> <!-- FINAL DA CERVEJA ARTESANAL -->
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-label>Caipiroska</ion-label>
          </ion-card-header>
            <img src="https://cdn.diffords.com/contrib/stock-images/2018/05/5af2fec6171c4.jpg">
          <ion-item  color="pretoazulado">
            <ion-button slot="end">
              <ion-icon name="cart"></ion-icon>
            </ion-button>
            <ion-label>R$15,00</ion-label>
          </ion-item>
        </ion-card>
      </ion-col> <!-- FINAL DA CAIPIROSKA -->



    </ion-row>
  </ion-grid>
</ion-content>